<div class="container">
  <div class="card m-3 ">
    <div class="d-flex flex-row">
      <div class="col-sm-4 col-md-6">
        <img src="{{product?.imgUrl}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-sm-2 col-md-4">
        <div class="card-body">
          <h5 class="card-title">Name: {{product?.name}}</h5>
          <p class="card-text">Price :{{product?.price}}</p>
          <p class="card-text">quantity: {{product?.quantity}}</p>
          <p class="card-text">price: {{product?.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
