<div class="container w-50">
  <form>
    <div class="mb-3">
      <label for="product-name" class="form-label" >Product name</label>
      <input type="text"
      name="name"
      class="form-control"
      id="product-name"
      placeholder="{{product?.name}}"
      [(ngModel)]="name"
      >
    </div>
    <div class="mb-3">
      <label for="product-qty" class="form-label">Qty</label>
      <input class="form-control"
      id="product-qty"
      name="quantity"
      placeholder="{{product?.quantity}}"
      [(ngModel)]="quantity"
      >
    </div>
    <div class="mb-3">
      <label for="product-price" class="form-label">price</label>
      <input class="form-control"
      id="product-price"
      name="price"
      placeholder="{{product?.price}}"
      [(ngModel)]="price"
      >
    </div>
    <div class="mb-3">
      <label for="formfile">Product img</label>
      <input class="form-control"
      type="file"
      id="formFile"
      name="imgUrl"
      [(ngModel)]="imgUrl"
      >
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div>
